
:root {
    --navbar-color: #336588;
    --background-color: #1e1e1f;
    --primary-color: #3a4750;
    --secondary-color: #343c42; 
    --link-color: #2f82c2;
    --text-emphasis-color: #2c73a5;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    color-scheme: dark;
}

header.navigation-header {
    position: fixed;
    top: 0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    color: white;
    width: 100%;
    height: flex;
    text-align: center;
}

nav.bar {
    font-size: medium;
    position: top;
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
}

main {
    margin-top: 35px;
    overflow: hidden;
    color-scheme: dark;
    color: white;
    background-color: var(--background-color);
    margin-left: 16px;
}

body {
    overflow: scroll;
    color-scheme: dark;
    color: white;
    background-color: var(--background-color);
    margin: auto;
    width: 100%;
}

h1 {
    font-size: 21.5px;
}

ul.nav-list {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

li.nav-link {
    float: left;
    display: list-item;
    margin-left: 16px;
    margin-top: 0;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 15.5px;
}

a.header-button {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    box-sizing: 90px;
}

a {
    color: var(--link-color);
}

italic {
    font-weight: italic;
}

bold {
    font-weight: bold;
}

user-name {
    position: flex;
    font-size: 26px;
    font-style: bolder;
    font-weight: bolder;
    color: var(--text-emphasis-color);
}

characteristics {
    font-size: 14px;
}

iframe {
    border-radius: 12px;
}

about {
    font-style: bold;
    font-size: 16px;
}

skills {
    font-size: 16px;
    font-style: bold;
}

project {
    font-style: bold;
    box-sizing: content-box;
    border: 4px solid var(--primary-color);
    border-collapse: collapse;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

links {
    font-style: bold;
    font-size: 14px;
    box-sizing: content-box;
    border: 4px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--secondary-color);
}

social-link {
    box-sizing: content-box;
    font-size: 16px;
    font-style: bold;
    border: 4px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--secondary-color);
}

div.projects {
    line-height: 32px;
}

div.socials {
    line-height: 32px;
}

footer {
    overflow: scroll;
    bottom: 0px;
    box-sizing: content-box;
    background-color: var(--navbar-color);
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 20px;
}

footer a {
    color: white;
}

.not-found-title {
    font-size: 45px;
    font-style: bold;
    position: flex;
}

.not-found-desc {
    font-size: 20px;
}

.container.not-found {
    width: 100%;
    margin-top: 20%;
    height: fit-content;
    position: flex;
    content: center;
    text-align: center;
}